/java-se-8/target/
/oopconcept/nbproject/private/
/oopconcept/build/
/IpChanger/nbproject/private/
/IpChanger/build/
/quizJavaApp/nbproject/private/
/quizJavaApp/build/
/quizJavaApp/dist/
/Java8Concurrency/nbproject/private/
/Java8Concurrency/build/
/Java8ClassDesign/nbproject/private/
/Java8ClassDesign/build/